.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .wrapper-footer {
    background-color: #121212;
    color: white;
}

.dark-mode .posts>.post {
  border-bottom: 1px solid #333; 
}

.dark-mode h1 a {
    color: #E0E0E0;
}
