.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode a {
   background-color: #121212;
  color: white;
}

.dark-mode button {
    background-color: #121212;
  color: white;
  border-color: #121212;
}

.dark-mode .wrapper-footer {
    background-color: #121212;
    color: white;
}

.dark-mode .posts>.post {
  border-bottom: 1px solid #333; 
}

.dark-mode ::selection {
    color: #E0E0E0;
}
